.goto-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.goto-shape {
    width: 80%;
    height: 100%;
    background-color: #333;
    position: absolute;
    clip-path: polygon(0 0, 70% 0, 100% 50%, 70% 100%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.goto-inner {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: #1e1e1e;
    clip-path: polygon(0 0, 70% 0, 100% 50%, 70% 100%, 0 100%);
}

.goto-label {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 12px;
    text-align: center;
}